.panel-body-list {
    padding:0;
}

.list-group-panel {
    margin-bottom:0;
}

.list-group-panel > .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-panel > .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-list{
    margin: 0;
}

.p-list{
    margin: auto;
    padding-right: 2.5%;
}

ol > li{
    padding-bottom: 2%;
}

.desc{
    text-indent: 1.5cm;
    margin-left: 3%;
    margin-right: 4%;
}

.dropdown-menu li > a{
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}

.dropdown-menu li a.active{
    background-color: #9c27b0;
    color: #FFFFFF;
}

.col-form{
    padding-bottom: 7px;
    padding-top: 7px;
}

.questionario{
    margin: 10px 0 0 0;
}

.tipo-usuario {
    margin: 20px 0 0 0;
}

.checkbox label, .radio label, label{
    color: #2d2d2d;
}